{% extends 'base.html.twig' %}

{% block title %}Streets{% endblock %}

{% block body %}

    <div class="d-flex just-content-start">
        <h1 class="mb-5">Streets ✅</h1>
        <a href="{{ path('app_street_new') }}" class="btn btn-warning btn-warning w-25 h-50">Add new street</a>
        <h4>There are {{ streets|length }} streets on {{ paginationCap }} pages.</h4>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for street in streets %}
            <tr>
                <td>{{ street.id }}</td>
                <td>{{ street.name }}</td>
                <td>
                    <a href="{{ path('app_street_show', {'id': street.id}) }}">show</a>
                    <a href="{{ path('app_street_edit', {'id': street.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if previous >= 0 %}
        <a href="{{ path('app_street_index', { offset: previous }) }}"
           class="btn btn-light">
            Previous
        </a>
    {% endif %}
    {% if next < streets|length %}
        <a href="{{ path('app_street_index', { offset: next }) }}"
           class="btn btn-light">
            Next
        </a>
    {% endif %}

    <br />
    <br />

    <table class="table-hover">
        <tbody>
        <tr>
            <h4>There are {{ paginationCap }} pages.</h4>
            <td><h3>Go to page:</h3></td>
            {{ form_start(paginationForm) }}
            <td>{{ form_widget(paginationForm.page, { 'attr': { 'max': paginationCap } }) }}</td>
            <td><button type="submit" id="pagination_form_submit" class="btn btn-light">Go</button></td>
            {{ form_end(paginationForm) }}
        </tr>
        </tbody>
    </table>

{% endblock %}
