{{ form_start(form) }}

{{ form_row(form.name) }}
{{ form_row(form.quantityInStock, { 'type': 'number', 'attr': { 'min': '0' } }) }}
{{ form_row(form.description) }}
{{ form_row(form.price) }}
{{ form_row(form.imageFile) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
