{{ form_start(form) }}
{{ form_row(form.customer) }}
{{ form_row(form.status, { 'attr': { 'readonly': 'true' } }) }}
{{ form_row(form.total, { 'attr': { 'readonly': 'true' } }) }}
{{ form_row(form.info) }}

<button type="submit" id="order_form_submit" class="btn btn-primary">{{ button_label|default('Submit order') }}</button>

{%- block form_errors -%}

    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message | nl2br }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
            </div>
        {% endfor %}
    {% endfor %}

    {% for error in form.vars.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error.message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
        </div>
    {% endfor %}

{%- endblock form_errors -%}

<div id="order_cart_items"
     class="items"
     data-prototype="
            {{ '<div class="d-flex justify-content-start orderCartItem">'|e }}
            {{ form_row(form.cart.items.vars.prototype.product)|e}}
            {{ form_row(form.cart.items.vars.prototype.quantity, { 'type': 'number', 'attr': { 'class': 'item_quantity', 'readonly': 'true', 'min': '0' } })|e}}
            {{ form_row(form.cart.items.vars.prototype.in_stock, { 'attr': { 'class': 'quantity_in_stock', 'readonly': 'true' } })|e }}
            {{ form_row(form.cart.items.vars.prototype.price, { 'attr': { 'class': 'product_price', 'readonly': 'true' } })|e }}
            {{ form_row(form.cart.items.vars.prototype.item_total_price, { 'attr': { 'class': 'item_total_price', 'readonly': 'true' } })|e }}
            {{ '</div>'|e }}
     ">

    {% for item in form.cart.items | sort %}
        <div class="d-flex justify-content-start orderCartItem">
            {{ form_row(item.product) }}
            {{ form_row(item.quantity, { 'type': 'number', 'attr': { 'class': 'item_quantity', 'readonly': 'true', 'min': '0' } }) }}
            {{ form_row(item.in_stock, { 'attr': { 'class': 'quantity_in_stock', 'readonly': 'true' } }) }}
            {{ form_row(item.price, { 'attr': { 'class': 'product_price', 'readonly': 'true' } }) }}
            {{ form_row(item.item_total_price, { 'attr': { 'class': 'item_total_price', 'readonly': 'true' } }) }}
        </div>
    {% endfor %}

</div>

<button type="button" id="order_form_add_button" class="btn btn-light btn_add_item" data-collection-holder-class="items">Add product</button>

{{ form_end(form) }}
