{{ form_start(form) }}
{{ form_row(form.customer) }}
{{ form_row(form.status) }}
{{ form_row(form.spreadsheetFilename) }}
{{ form_row(form.total) }}
{{ form_row(form.info) }}

<button type="submit" id="order_form_submit" class="btn btn-primary">{{ button_label|default('Submit order') }}</button>

{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
        </div>
    {% endfor %}
{% endfor %}

<div id="order_cart_items"
     class="items"
     data-prototype="{{ form_row(form.cart.items.vars.prototype, { 'attr': { 'class': 'd-flex justify-content-start orderCartItem' }})|e}}">

    {% for item in form.cart.items %}
        {{ form_row(item, { 'attr': { 'class': 'd-flex justify-content-start orderCartItem' } }) }}
    {% endfor %}

</div>

<button type="button" id="order_form_add_button" class="btn btn-light btn_add_item" data-collection-holder-class="items">Add product</button>

{{ form_end(form) }}
