{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
    <h1>Order</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ order.status }}</td>
            </tr>
            <tr>
                <th>Customer</th>
                <td>{{ order.customer }}</td>
            </tr>
            <tr>
                <th>SpreadsheetFilename</th>
                <td>{{ order.spreadsheetFilename }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ order.total }}</td>
            </tr>
            <tr>
                <th>Info</th>
                <td>{{ order.info }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ order.updatedAt ? order.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_order_index') }}" class="btn btn-secondary">back to list</a>

    {% if order.status is not same as orderStatusFinished %}

        <a href="{{ path('app_order_edit', {'id': order.id}) }}" class="btn btn-secondary">edit</a>
        {{ include('order/_delete_form.html.twig') }}

        {% if order.status is not same as orderStatusDraft %}
            {{ include('order/_finish_form.html.twig') }}
        {% endif %}

    {% endif %}

    {% if order.status is same as orderStatusFinished %}
        {{ include('order/_export_form.html.twig') }}
    {% endif %}

{% endblock %}
